@page
@model ContactModel
@{
    Layout = "Shared/_Layout.cshtml";

}
<div class="hero-wrap hero-bread" style="background-image: url('@Url.Content("~/Home/images/bg_1.jpg")');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="/index">Home</a></span> <span>Contact us</span></p>
                <h1 class="mb-0 bread">Contact us</h1>
            </div>
        </div>
    </div>
</div>


<section class="ftco-section contact-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h2 class="mb-4">Liên hệ nếu có bất kỳ thắc mắc nào</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
            <div class="w-100"></div>
            <div class="col-md-3 d-flex">
                <div class="info bg-white p-4">
                    <p><span>Địa chỉ: </span> 110 Tân Chánh Hiệp 36, Tân Chánh Hiệp, Quận 12, Hồ Chí Minh</p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="info bg-white p-4">
                    <p><span>SĐT: </span> <a href="tel://1234567920">+ 022 345 67890</a></p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="info bg-white p-4">
                    <p><span>Email: </span> <a href="mailto:info@yoursite.com">Vegefood@gmail.com</a></p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="info bg-white p-4">
                    <p><span>Website: </span> <a href="#">yoursite.com</a></p>
                </div>
            </div>
        </div>
       
    </div>
</section>