@page
@model VEGEFOODS.Pages.OrderDetailModel
@{
}
<style>
    .btnback{
        font-size: 20px;
        border: 1px solid green;
        border-radius: 10px;
        padding: 3px;
       margin-top:15px;
    }
</style>
<div class="hero-wrap hero-bread" style="background-image: url('@Url.Content("~/Home/images/bg_1.jpg")');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="/index">Home</a></span> <span>Cart</span></p>
                <h1 class="mb-0 bread">Chi tiết Đơn hàng</h1>
            </div>
        </div>
    </div>
</div>

<div class="card-body">
    <table class="table table-bordered table-hover">
        <thead class="table-primary">
            <tr>
                <th>Mã sản phẩm</th>
                <th>Hình ảnh</th>
                <th>Tên sản phẩm</th>
                <th>Giá</th>
                <th>Giảm giá</th>
                <th>Số lượng</th>
            </tr>
        </thead>
        <tbody>
            <td>Mango</td>
            <td>Pcs</td>
            <td>a</td>
            <td></td>
            <td></td>
            <td></td>
        </tbody>
    </table>
</div>

<div>
    <p>Tổng tiền</p>
    <p>Tổng tiền giảm giá</p>
    <p>Thành tiền</p>
</div>

<a class="btnback" href="/CartDetail">Trở lại</a>
